@font-face {
    font-family: "Untitled Sans";
    src: url(/fonts/untitled-sans-web-light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Untitled Sans";
    src: url(/fonts/untitled-sans-web-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Untitled Sans";
    src: url(/fonts/untitled-sans-web-regular-italic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Untitled Sans";
    src: url(/fonts/untitled-sans-web-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Untitled Sans";
    src: url(/fonts/untitled-sans-web-bold-italic.woff) format("woff");
    font-weight: 700;
    font-style: italic;
}
